.plan-headings {
  position: relative;
}

.plan-image-container {
  position: relative;
}

.plan-image-container img{
  width: 100%;
  height: 600px;
}

.plan-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  padding: 20px;
  max-width: 80%; 
}


.search-region-container {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex;
  align-items: center; */
}

.search {
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px); 
  /* background-color: rgba(255, 255, 255, 0.5);  */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.search input {
  margin-right: 10px;
}

.region-filters {
  display: flex;
}

.region-filters button {
  margin-right: 10px;
}


.plan-text h2, h3, p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: black; */
    text-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
    margin-top: 40px; 
    /* font-size: 30px;   */
    
}

.plan-headings h2{
  color: white;

}

.plan-headings h3{
  color: white;
  font-size: 30px;
}

.plan-headings p{
  color: white;
  font-size: 30px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.search input{

    padding: 16px 40px;
    /* border: 2px solid slateblue; */
    border: none;
    outline: none;
    background: transparent;
    background-color: #6983ca;
    background-color: transparent;
    font-weight: 800;
    text-align: center;

}

input::placeholder{
    color: #fff;
}

.search button{
    padding: 7px 20px;
    margin-left: 20px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 800;
    background-color: #5596ca;;
    border: 2px solid slateblue;
    color: white;
    cursor: pointer;
}

.search button:hover{
    opacity: 0.8;
}

.addtolist{
  background-color: #ff99cc;
  color: white;
  padding: 5px 10px;
  border: none;
  outline: #ff99cc;
  border-radius: 20px;
  box-shadow: 3px 3px 20px #ff99cc,
    -2px 1px 30px #ff99cc;
    cursor: pointer;

}


  .plan-container {
    margin-top: 60px;
    height: auto;
    margin-bottom: 20px;
    background-color: aliceblue;
  }
  
  .plan-container > div {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .plan-container > div:hover {
    transform: translateY(-5px);
    opacity: 0.9;
  }
  
  .plan-container > div h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .plan-container > div p {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #666;
  }
  
  .plan-container > div hr {
    margin-top: 15px;
    border: none;
    border-top: 1px solid #eee;
  }

  .plan-container hr{
    border:2px solid #333;
  }

  .range{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .rating{
    margin-top: 30px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  
  .weather-btn{
    margin-top: 30px;
    padding: 10px 10px;
    font-weight: 800;
    background-color: #5d7cd1;
    border: 2px solid slateblue;
    color: white;
    cursor: pointer;
  }

  .cost{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-share{
    margin-top: 20px;
    background-color: #5d7cd1;
    color: #fff;
    border-radius: 50px;
    width: 32%;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }

  .share{
    margin-left: 20px;
   
  }

  .region-filters{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

  .region-filters button{
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #5596ca;
    border:1px solid #6983ca;
    font-family:  'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
  }

  .region-filters button:hover{
    color: #fff;
  }

  .weather-btn .weather-icon{
    font-size: 20px;
  }

  @media (max-width:1300px) {
    .social-share{
      width: 50%;
    }
  }

  @media (max-width:1000px) {
    .social-share{
      width: 50%;
    }
  }

  @media (max-width:900px) {

    .search-region-container {
     
      bottom: 80px;
         
    }

    .social-share{
      width: 70%;
    }
  }

  @media (max-width:650px) {

    .plan-headings h3{
      margin-left: 20px;
    }
    .places {
      margin-left: 30px;
    }
    .rating{
      margin-left: 20px;
    }

    .weather-btn {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .social-share{
      width: 100%;
    }

    .search-region-container {
      position: absolute;
      bottom: 60px;
      left: 41%;
      transform: translateX(-50%);
      /* display: flex;
      align-items: center; */
    }
 

  }

  @media (max-width:650px) {

    .plan-image-container img{
      width: 100%;
      height: 650px;
    }

    .search-region-container {
      position: absolute;
      bottom: 8px;
      left: 41%;
      
      transform: translateX(-50%);
      /* display: flex;
      align-items: center; */
    }

    .search{
      width: 95%;
      margin-left: 60px;
    }

    .region-filters{
      display: grid;
      grid-template-columns: 50% 50%;
      margin-left: 60px;
    }

    .region-filters button{
      margin-top: 2px;
      margin-bottom: 10px;
      
    }
  }

  @media (max-width:430px) {
    .search{
      width: 95%;
      margin-left: 50px;
    }
  }

  @media (max-width:390px) {
    .search{
      width: 95%;
      margin-left: 30px;
    }
  }